body {
  font-weight: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}

@-moz-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}

@-o-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}

.header {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 15px 0;
  margin: 0px;
}

.header h1 {
  font-size: 23px;
  font-weight: 200;
  margin: 0px;
  padding: 10px 0;
}

.header img {
  margin: 5px 10px;
  width: 120px;
  height: 120px;
  border-radius: 2px;
}

.img-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  width: 100%;
}

.col-custom {
  color: #777;
  width: 100%;
  padding-bottom: 5px;
}

#mission, #education, #work, #volunteer, #references {
  border-bottom: 1px solid #e5e5e5;
  margin: 0px;
  padding: 20px 0;
}

#references {
  padding-bottom: 30px;
}

#work .city {
  text-align: right;
}

#piper ul {
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 20px;
}

#molecule {
  padding-top: 10px;
}

.footer {
  padding: 20px 15px 0 15px;
}

.footer a {
  color: #777;
}

.printable {
  cursor: pointer;
  text-align: right;
}

.hidden-msg {
  display: none;
}

.printable:hover .visible-msg {
  display: none;
}

.printable:hover .hidden-msg {
  display: inline-block;
}

a, .printable {
  cursor: pointer;
  color: #777;
}

a:hover, .printable:hover {
  color: #000;
  text-decoration: none;
}

@media (min-width: 768px), print {
  .container {
    max-width: 730px;
  }
}

@media screen and (min-width: 480px), print {
  .img-wrapper {
    width: 450px;
  }

  .col-custom {
    width: 50%;
  }

  .header h1 {
    padding: 5px 0 13px 0;
  }
}

@media screen and (min-width: 768px) {
  .img-wrapper {
    width: 556px;
  }
}

/* Hide header and footer in Chrome print view */
@page {
  margin:0px auto;
}

@media print {
  body {
    padding-top: 40px;
  }

  a {
    color: #000 !important;
  }

  a[href]:after{
    content: none !important;
  }

  .img-wrapper {
    width: 506px;
  }

  #mission, #education, #work, #volunteer, #references {
    padding: 13px 0;
  }

  #references {
    padding-bottom: 20px;
  }

  .printable {
    display: none;
  }

  a.print-show:after {
    content: " (" attr(href) ")" !important;
  }
}
